/* Base styles */
html {
  color-scheme: light dark;
  min-height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom, rgb(214, 219, 220), white);
}

@media (prefers-color-scheme: dark) {
  body {
    background-image: linear-gradient(to bottom, rgb(20, 22, 27), black);
  }
}

/* Custom heartbeat animation */
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.2);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1);
  }
  90% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.animate-heartbeat {
  animation: heartbeat 2s linear infinite;
}
